<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Main</title>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=mdbxo3pu0t"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=mdbxo3pu0t&submodules=visualization"></script>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ncpClientId&submodules=geocoder"></script>
    <!-- 행정구역 테두리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch-jsonp/1.1.3/fetch-jsonp.min.js"></script>
    <script>
        var map_longitude = 37.5633647
        var map_latitude = 126.9674929

        var map;
        var polyline;
        function findGuArea() {
            var selectGuName = document.getElementById("guSelect");
            var selectedValue = selectGuName.options[selectGuName.selectedIndex].value;
            var searchGu = "https://api.vworld.kr/req/data?service=data&request=GetFeature&data=LT_C_ADSIGG_INFO&key=D60D697E-DA1B-3C03-B045-CC469028D5FB&domain=127.0.0.1:8000/&attrFilter=sig_kor_nm:like:" + selectedValue;
            if (polyline) {
                polyline.setMap(null);
            }
            // map = new naver.maps.Map('map', mapOptions);
            fetchJsonp(searchGu)
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    // 응답 데이터를 처리하고 지도에 경계선을 그리는 작업 수행
                    console.log(data); // 응답 데이터 콘솔에 출력

                    // 경계선을 그리기 위한 좌표 데이터 추출
                    var coordinates = [];
                    console.log(coordinates)
                    var features = data.response.result.featureCollection.features;
                    for (var i = 0; i < features[0].geometry.coordinates[0][0].length; i++) {
                        var feature = features[0].geometry.coordinates[0][0][i];
                        var x = feature[0];
                        var y = feature[1];
                        coordinates.push(new naver.maps.LatLng(y, x));
                        var location = new naver.maps.LatLng(features[0].geometry.coordinates[0][0][200])
                    }
                    // 경계선 생성
                    polyline = new naver.maps.Polyline({
                        path: coordinates,
                        strokeColor: '#0000FF', // 선 색
                        strokeOpacity: 0.8, // 투명도
                        strokeWeight: 6,
                        zIndex: 2,
                        clickable: true,
                        map: map // 위에서 생성한 지도에 추가
                    });
                    map.setCenter(location);
                })
                .catch(function (error) {
                    console.log('API 요청 중 오류 발생:', error);
                });
        }

        window.onload = function () {
            naver.maps.Service.geocode({
                query: '{{police_table.address}}'
            }, function (status, response) {
                if (status === naver.maps.Service.Status.ERROR) {
                    return alert('Something Wrong!');
                }
                if (response.v2.meta.totalCount === 0) {
                    return alert('올바른 주소를 입력해주세요.');
                }
                var htmlAddresses = [],
                    item = response.v2.addresses[0],
                    point = new naver.maps.Point(item.x, item.y);
                if (item.roadAddress) {
                    htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
                }
                if (item.jibunAddress) {
                    htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
                }
                if (item.englishAddress) {
                    htmlAddresses.push('[영문명 주소] ' + item.englishAddress);
                }

                map_longitude = item.y
                map_latitude = item.x
                map.setCenter(new naver.maps.LatLng(map_longitude, map_latitude))
                console.log(map_latitude, map_longitude)
            });
        }
    </script>
</head>

<body>
    <div class="container">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/map" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="\static\data\SAF_policeEmblemLogo.jpg" alt="Logo" width="180" height="60">
            </a>
            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2"
                    onclick="location.href='/account/logout'">로그아웃</button>
                <button type="button" class="btn btn-primary" onclick="location.href='/account/register'">관리</button>
            </div>
        </header>
    </div>
    <div style="margin-left:150px;display: inline;">
        <select id="guSelect">
            <option>선택</option>
            <option value="강남구">강남구</option>
            <option value="강동구">강동구</option>
            <option value="강북구">강북구</option>
            <option value="강서구">강서구</option>
            <option value="관악구">관악구</option>
            <option value="광진구">광진구</option>
            <option value="구로구">구로구</option>
            <option value="금천구">금천구</option>
            <option value="노원구">노원구</option>
            <option value="도봉구">도봉구</option>
            <option value="동대문구">동대문구</option>
            <option value="동작구">동작구</option>
            <option value="마포구">마포구</option>
            <option value="서대문구">서대문구</option>
            <option value="서초구">서초구</option>
            <option value="성동구">성동구</option>
            <option value="성북구">성북구</option>
            <option value="송파구">송파구</option>
            <option value="양천구">양천구</option>
            <option value="영등포구">영등포구</option>
            <option value="용산구">용산구</option>
            <option value="은평구">은평구</option>
            <option value="종로구">종로구</option>
            <option value="중구">중구</option>
            <option value="중랑구">중랑구</option>
            <!-- 추가적인 옵션들을 이곳에 나열할 수 있습니다 -->
        </select>
        <button class="findGuArea" onclick="findGuArea()">구 검색</button>
    </div>

    <div id="markerBox" style="margin-left:70px; display: inline;">
        <input type="checkbox" name="store" onchange="fn_chbx(this)" checked> 주점
        <input type="checkbox" name="park" onchange="fn_chbx(this)" checked> 주차장
    </div>

    <div id="map" style="width:80%;height:400px;margin:0 auto;"></div>
    <script>
        var mapOptions = {
            center: new naver.maps.LatLng(map_longitude, map_latitude),
            zoom: 12,
            mapTypeId: 'normal',
            scaleControl: true,
            logoControl: false,
            mapDataControl: true,
            minZoom: 6, // 최소 줌
            zoomControl: true, // 줌 컨트롤 패널 보이기
            zoomControlOptions: {
                style: naver.maps.ZoomControlStyle.LARGE, // 줌 컨트롤 패널 크기
                position: naver.maps.Position.TOP_RIGHT // 줌 컨트롤 패널 위치
            }
        };


        map = new naver.maps.Map('map', mapOptions);

        var csvFile = '{{ "/static/data/AlcoholAccident.csv" }}';

        Papa.parse(csvFile, {
            download: true,
            complete: function (results) {
                var data = results.data;

                for (var i = 1; i < data.length; i++) {
                    var row = data[i];
                    var name = row[0];
                    // name: 주소
                    var latitude = parseFloat(row[1]);
                    // latitude: 경도
                    var longitude = parseFloat(row[2]);
                    // longitude: 위도
                    var count = parseInt(row[3]);
                    // count :발생건수 

                    var location = new naver.maps.LatLng(latitude, longitude);

                    var iconUrl;
                    if (count === 3) {
                        iconUrl = '{{"/static/data/accident3.jpg"}}';
                    } else if (count === 4) {
                        iconUrl = '{{"/static/data/accident4.jpg"}}';
                    } else if (count === 5) {
                        iconUrl = '{{"/static/data/accident5.jpg"}}';
                    } else if (count === 6) {
                        iconUrl = '{{"/static/data/accident6.jpg"}}';
                    }



                    var marker = new naver.maps.Marker({
                        position: location,
                        map: map,
                        icon: {
                            url: iconUrl,
                            size: new naver.maps.Size(800, 600),
                            origin: new naver.maps.Point(0, 0),
                            anchor: new naver.maps.Point(25, 26)
                        }
                    });

                    var infowindow = new naver.maps.InfoWindow({
                        content: '<div style="padding:10px;">' + name + '</div>'
                    });

                    naver.maps.Event.addListener(marker, 'click', (function (marker, infowindow) {
                        return function () {
                            infowindow.open(map, marker);
                        };
                    })(marker, infowindow));
                }
            }
        });

        var store_list = []
        function store_marker(x, y) {
            var marker = new naver.maps.Marker({
                position: new naver.maps.LatLng(x, y),
                map: map,
                icon: {
                    content: '<div style="width:10px; height:10px;margin: 0px; padding: 0px; border: 0px; border-radius:50%; background-color:#0033FFAA;" ></div>',
                    size: new naver.maps.Size(22, 35),
                }
            });
            store_list.push(marker)
        }

        function remove_marker(marker_list) {
            for (var i = 0; i < marker_list.length; i++) {
                marker_list[i].setMap(null)
            }
        }

        function set_marker(marker_list) {
            for (var i = 0; i < marker_list.length; i++) {
                marker_list[i].setMap(map)
            }
        }

        function fn_chbx(obj) {
            if (obj.checked == true) {
                if (obj.name == 'store') {
                    set_marker(store_list)
                }
            } else {
                if (obj.name == 'store') {
                    remove_marker(store_list)
                }
            }
        }

        function site_point(xy, text, min, max) {
            var xy_dot = [];
            var site_color;
            var rnd_size;
            xy_dot = xy.split('_');
            if (text == '여유') {
                site_color = '#90EE90';
            } else if (text == '보통') {
                site_color = '#e5d34d';
            } else if (text == '약간 붐빔') {
                site_color = '#ff7f00';
            } else if (text == '붐빔') {
                site_color = '#ff0000';
            } else {
                site_color = '#000000';
            }
            if ((min + max) > 130000) {
                rnd_size = 600;
            } else if ((min + max) > 110000) {
                rnd_size = 500;
            } else if ((min + max) > 90000) {
                rnd_size = 400;
            } else if ((min + max) > 70000) {
                rnd_size = 300;
            } else if ((min + max) > 50000) {
                rnd_size = 200;
            } else if ((min + max) > 30000) {
                rnd_size = 100;
            } else {
                rnd_size = 80;
            }
            var circle = new naver.maps.Circle({
                map: map,
                center: new naver.maps.LatLng(xy_dot[1], xy_dot[0]),
                fillOpacity: 0.4,
                radius: rnd_size,
                clickable: true,
                fillColor: site_color,
                strokeColor: site_color
            });
            var sitepop = new naver.maps.InfoWindow({
                content: '<div style="padding:10px;">최소 인구 : ' + min + '</div><div style="padding:10px;">최대 인구 : ' + max + '</div>'
            });
            naver.maps.Event.addListener(circle, 'click', (function (circle, sitepop) {
                return function () {
                    var latlng = new naver.maps.LatLng(xy_dot[1], xy_dot[0]);
                    sitepop.open(map, circle);
                };
            })(circle, sitepop));
        }
        function road_site(middle, idx, speed) {
            var dots = [];
            var road_color;
            dots = middle.split('|');
            if (idx == '원활') {
                road_color = '#90EE90';
            } else if (idx == '서행') {
                road_color = '#ff7f00';
            } else if (idx == '정체') {
                road_color = '#ff0000';
            } else {
                road_color = '#000000';
            }
            var path = [];
            for (var i = 0; i < dots.length; i++) {
                var middle_m = []
                middle_m = dots[i].split('_');
                path.push(new naver.maps.LatLng(middle_m[1], middle_m[0]));
            }
            var polyline = new naver.maps.Polyline({
                map: map,
                strokeColor: road_color, // 선 색
                strokeOpacity: 0.6, // 투명도
                strokeWeight: 4,
                zIndex: 1,
                clickable: true,
                path: path
            });
        }
        function park_site(x, y, prkfull, prkcnt) {
            if (prkcnt == null) {

            }
            else {
                var marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(x, y),
                    map: map
                });
                var prkref = '주차된 차량 : ' + (prkfull - prkcnt);
                var prkInf = new naver.maps.InfoWindow({
                    content: '<div style="padding:10px;">주차장 수용량 : ' + prkfull + '</div><div style="padding:10px;">' + prkref + '</div>'
                });
                naver.maps.Event.addListener(marker, 'click', (function (marker, prkInf) {
                    return function () {
                        var latlng = new naver.maps.LatLng(37.3595704, 127.105399);
                        prkInf.open(map, marker);
                    };
                })(marker, prkInf));
            }
        }


    </script>

    <script>
        // 상가마커표시
        '{% for x in store_dt %}'
        store_marker('{{ x.위도 }}', '{{ x.경도 }}')
        '{% endfor %}'

        '{% for i in pops %}'
        site_point('{{i.AREA_XY}}', '{{i.AREA_CONGEST_LVL}}', '{{ i.AREA_PPLTN_MIN }}', '{{ i.AREA_PPLTN_MAX }}')
        '{% endfor %}'

        '{% for i in roads%}'
        road_site('{{i.XYLIST}}', '{{i.IDX}}', '{{i.SPD}}')
        '{% endfor %}'

        '{% for i in parks%}'
        park_site('{{ i.LAT }}', '{{ i.LNG }}', '{{ i.CPCTY }}', '{{ i.CUR_PRK_CNT }}')
        '{% endfor %}'
    </script>


</body>

</html>