<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=mdbxo3pu0t"></script>

</head>

<body>
    <select>
        <option value="gu">ㅇㅇ구</option>
    </select>
    <button onclick="location.href='/account/logout'">로그아웃</button>

    <button onclick="location.href='#'">관리</button>


    <div id="map" style="width:80%;height:400px;"></div>
    <script>

        var mapOptions = {
            center: new naver.maps.LatLng(193610.3786, 442802.9236),
            zoom: 15
        };

        var map = new naver.maps.Map('map', mapOptions);


        function test(name, x, y) {
            var marker = new naver.maps.Marker({
                position: new naver.maps.LatLng(37.5112, 127.0981),
                map: map
            });
        }
    </script>

    {% for x in dt %}
    <script>
        test({{ x.사업장명 }}, {{ x.위도 }}, {{ x.경도 }})
    </script>

    <br>
    {% endfor %}


</body>

</html>