* { padding: 0; margin: 0; }

html, body {
  height: 100%;
  background: #ffffff;
}
#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#loginBox {
  width: 300px;
  text-align: left;
  background-color: #ffffff;
}
.input-form-box {
  display: block;
  text-align: left;
  padding-top: 5px;
  min-width: 65px;
}

.input-form-span{
  padding-right: 210px;
}
.button-login-box {
  margin: 10px 0;
}

#inputBox {
  margin: 10px;
}

#inputBox button {
  padding: 3px 5px;
}

#search-gu {
  margin-left:150px;
  display: inline;
}

.map-size{
  width:80%;height:400px;
  margin:0 auto;
}

#check-button-div{
  margin: 10px 0px 0px 150px;
}

.check-button{
  width:80px; 
  height:90px;
  
}

.check-button-img{
  width: 50px; 
  height: 50px;
}